{l s='Ожидание перенаправления' mod='intellectmoney'}
<form action="https://merchant.intellectmoney.ru/ru/" method="post" id="myform">
    <input type="hidden" name="eshopId" value="{$eshopId}" />
    <input type="hidden" name="orderId" value="{$orderId}" />
    <input type="hidden" name="userEmail" value="{$userEmail}" />
    <input type="hidden" name="serviceName" value="{$serviceName}" />
    <input type="hidden" name="recipientAmount" value="{$recipientAmount}" />
    <input type="hidden" name="recipientCurrency" value="{$recipientCurrency}" />
    <input type="hidden" name="holdMode" value="{$holdMode}"/>    
    <input type="hidden" name="expireDate" value="{$expireDate}"/>
    <input type="hidden" name="hash" value="{$hash}" />
    <input type="hidden" name="UserField_1" value="{$UserField_1}" />
    <input type="hidden" name="UserFieldName_1" value="{$UserFieldName_1}" />
    <input type="hidden" name="UserField_2" value="{$UserField_2}" />
    <input type="hidden" name="UserFieldName_2" value="{$UserFieldName_2}" />
    <input type="hidden" name="UserField_3" value="{$UserField_3}" />
    <input type="hidden" name="UserFieldName_3" value="{$UserFieldName_3}" />
    <input type="submit" value="{l s='Оплатить' mod='intellectmoney'}" style="display:none;">
</form>

<script type="text/javascript">
    document.getElementById('myform').submit();
</script>



